h1{
    margin-left: 5%;
    color: white;
}
body{
    background-image: url(circle.webp);
    background-position: center center;
    background-repeat: none;
}
.container{
    width: 400px;
    height: fit-content;
    padding: 0.5%;
    background-color: rgba(6, 6, 160, 0.781); 
    display: block;
    padding-left: 10%; 
    margin-left: 30%;
    margin-top: 10%;
    border-radius: 1rem;
}
h4{
    
    color: rgb(32, 30, 30);
}
.cons{
    position: absolute;
    bottom: 30px;
    background-color: rgba(255, 255, 255, 0.377);
    height: 40px;
    width: 100%;
    padding: 10px;
    /* margin-left: 40%;
    margin-top: 20%; */
}
